



:root.theme-dark {
  --link-color: #F1B2CE;
  --article-color: #000028;
  --text-color: #F1B2CE;
  --text-color-primary: #DB00FF;
  --text-color-secondary: #F1B2CE; 
  --text-color-tertiary: #FF0070;
  --text-color-emphasis: #FF0070;
  --background-color-primary: #FF0070;
  --background-color-secondary: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
  --border-color: #F1B2CE;
  --border-color-opacity: rgba(255, 0, 112, 0.4);
  --rec-visible: visible;
}
