:root.theme-dark {
  --link-color: #f1b2ce;
  --article-color: #000028;
  --text-color: #f1b2ce;
  --text-color-primary: #db00ff;
  --text-color-secondary: #f1b2ce;
  --text-color-tertiary: #ff0070;
  --text-color-emphasis: #ff0070;
  --background-color-primary: #ff0070;
  --background-color-secondary: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --border-color: #f1b2ce;
  --border-color-opacity: rgba(255, 0, 112, 0.4);
  --rec-visible: visible;
}
