:root.theme-light {
  --border-menu-transparency:rgba(50, 49, 45, 0.4);
  --border-menu-color:#353430;
  --background-color: #fff1f7;
  --link-color: #353430;
  --article-color: #353430;
  --text-color: #353430;
  --text-color-primary: #ffc2e6;
  --text-color-secondary: #ffc2e6;
  --text-color-tertiary: #353430;
  --text-color-emphasis: #ff0070;
  --background-color: #fff1f7;
  --background-color-primary: #ff8dcb;
  --background-color-secondary: #ff0070;
  --background-image: url(../images/cover-image-light.png);
  --decorated-visible: hidden;
  --rec-visible: hidden;
  --border-color: #353430;
  --border-color-opacity: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --border-menu-transparency:rgba(50, 49, 45, 0.4);
    --border-menu-color:#353430;
    --link-color: #353430;
    --article-color: #353430;
    --text-color: #353430;
    --text-color-primary: #ffc2e6;
    --text-color-secondary: #ffc2e6;
    --text-color-tertiary: #353430;
    --text-color-emphasis: #ff0070;
    --background-color: #fff1f7;
    --background-color-primary: #ff8dcb;
    --background-color-secondary: #ff0070;
    --background-image: url(../images/cover-image-light.png);
    --decorated-visible: hidden;
    --rec-visible: hidden;
    --border-color: #353430;
    --border-color-opacity: rgba(50, 49, 45, 0.4);
  }
}
